.sigature-dom-canvas-box {
    /* margin: 24px 20px 0; */
    border: 3px solid #1976d2;
    border-radius: 5px;
}

.color-list-box {
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 20px; */
}

.color-item {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-sizing: content-box;
    /* border: 2px solid #ffffff; */
}

.canvas-action-box {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.action-panel {
    margin-right: 20px;
}

.active-color {
    box-shadow: 0px 0px 0px 5px #e8e8e8;
    /* border: 2px solid #321c236e; */
}

.font-size-box {
    margin: 20px 72px;
}