.title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    margin: 30px 0 20px;
}

.sub-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 10px 0 10px;
}

.signers-box {
    display: flex;
    flex-wrap: wrap;
}

.signer,
.viewer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.signer>div,
.viewer>div {
    color: #999;
    font-size: 12px;
}

.signers-box>div {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background-color: white;
    margin: 10px 20px;
    padding: 14px 20px;
    display: flex;
    border: 1px solid rgb(235 236 239);
    flex-direction: column;
    justify-content: space-evenly;
}